REACT_APP_NODE_ENV="development"

REACT_APP_API="http://localhost"
REACT_APP_API_PORT=6000
REACT_APP_MAINNET_INFURA_HANDLER="<main_net_infura_URL>"
REACT_APP_TESTNET_INFURA_HANDLER="<main_net_infura_URL>"
REACT_APP_TESTSTR="TEST SUCCESSFUL"
